{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'potplayapp/css/global.css' %}">
    <title>Adicionar Comentário</title>
</head>
<body>
    <a href="{% url 'todos_comentarios' %}">← Voltar</a>
    
    <h2>Seu comentário sobre "{{ jogo.nome }}"</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Enviar Comentário</button>
    </form>
</body>
</html>