{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="{% static 'potplayapp/css/reset.css' %}"> -->
    <link rel="stylesheet" href="{% static 'potplayapp/css/cadastro-login.css' %}">
    <link rel="stylesheet" href="{% static 'potplayapp/css/global.css' %}">
    <title>Login - PotPlay</title>
</head>
<body>

    <div class="main-box">
        <p>Jogos para se divertir enquanto aprende!</p>
        <h1>POTPLAY</h1>
        <form class="form" id="form-login" method="post">
            <h2 class="titulo-form">Entrar na sua conta</h2>
            {% csrf_token %}
            {{ form.as_p }}
            <button class="submit-botao" type="submit">Entrar</button>
        </form>

        <br>
        <p>Não tem uma conta? <a href="{% url 'cadastro' %}" class="link">Cadastre-se</a></p>
        <p><a href="{% url 'home' %}" class="link">Voltar para a página inicial</a></p>
    </div>

    <div class="image-container">
        <img src="{% static 'potplayapp/imgs/logo.png' %}" alt="Logo Potplay">
    </div>


</body>
</html>